services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.16.0
    container_name: elasticsearch
    mem_limit: 8GB
    environment:
      - xpack.ml.use_auto_machine_memory_percent=true
      - ELASTIC_PASSWORD=elastic
    ports:
     - '9200:9200'
  kibana:
    image: docker.elastic.co/kibana/kibana:8.16.0
    container_name: kibana
    ports:
      - '5601:5601'
