# Settings and configurations that are common for all containers
x-minio-common: &minio-common
  image: quay.io/minio/minio
  restart: always
  command: server --console-address ":9001" http://minio{1...2}/data{1...2}
  expose:
    - "9000"
    - "9001"
  # environment:
    # MINIO_ROOT_USER: minioadmin
    # MINIO_ROOT_PASSWORD: minioadmin
  healthcheck:
    test: ["CMD", "mc", "ready", "local"]
    interval: 5s
    timeout: 5s
    retries: 5

# starts 4 docker containers running minio server instances.
# using nginx reverse proxy, load balancing, you can access
# it through port 9000.
services:
  minio1:
    <<: *minio-common
    hostname: minio1
    volumes:
      - minio_data_1-1:/data1
      - minio_data_1-2:/data2

  minio2:
    <<: *minio-common
    hostname: minio2
    volumes:
      - minio_data_2-1:/data1
      - minio_data_2-2:/data2

  nginx:
    image: nginx:alpine
    hostname: nginx
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "9000:9000"
      - "9001:9001"
    depends_on:
      - minio1
      - minio2

## By default this config uses default local driver,
## For custom volumes replace with volume driver configuration.
volumes:
  minio_data_1-1:
  minio_data_1-2:
  minio_data_2-1:
  minio_data_2-2:
